ATLAS_PROFILE=default
ATLAS_REGION=iran
ATLAS_API_HOST=127.0.0.1
ATLAS_API_PORT=3000
ATLAS_GATEWAY_ORIGIN=http://localhost:8080
ATLAS_DATA_ROOT=./data
ATLAS_ACTIVE_SNAPSHOT_PATH=./data/active.json
ATLAS_LOG_LEVEL=info
ATLAS_UPDATE_MODE=disabled
ATLAS_OFFLINE=true
ATLAS_UPDATER_HOST=127.0.0.1
ATLAS_UPDATER_PORT=3001
